extends layout

block layout-content
  div.View
    h1.Banner DeepChainLabs
    div.Message
      div.Title
        h2 Product Validation 

    div.NavButtons
      a(href="/productPage")
          div.NavButton Product Page


    div.NavButtons
      a(href="/validator")
          div.NavButton Validator Login