extends layout 
block layout-content
  div.View
    h1.Banner DeepChainLabs
    div.Message
      div.Title
        h2 Validator Login


        form(action='/validatorpage', method='get')
            p
            | Name: 
            input(type='text', name='title', value='')
            br
            |          Password: 
            input(type='text', name='year', value='')
            br

            input(type='submit', value='Login')