extends layout 
block layout-content
  div.View
    h1.Banner DeepChainLabs
    div.Message
      div.Title
        h2 Validator Homepage

        //- <style>
        //-     table, th, td {
        //-     border: 1px solid black;
        //-     table.center {
        //-     margin-left: auto;
        //-     margin-right: auto;
        //-   }
        //- </style>
        <table style="border: 1px solid black">
        <h2> Validation Requests <h2>
          <tr>
            <th>To</th>
            <th>From</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Signature</th>
            <th>Valid<th>
          </tr>
          <tr>
            <td>Company A</td>
            <td>Company B</td>
            <td>28-12-2021</td>
            <td>5000</td>
            <td>fdgrt</td>
            <td> <input type="checkbox"> </td>
          </tr>
          <tr>
            <td>Company Z</td>
            <td>Company Y</td>
            <td>21-12-2021</td>
            <td>1200</td>
            <td>Sghdfah</td>
            <td> <input type="checkbox"> </td>
          </tr>
          <tr>
            <td>Company C</td>
            <td>Company D</td>
            <td>18-12-2021</td>
            <td>5300</td>
            <td>qweqw</td>
            <td> <input type="checkbox"> </td>
          </tr>
          <tr>
            <td>Company E</td>
            <td>Company F</td>
            <td>11-12-2021</td>
            <td>4300</td>
            <td>sdffs</td>
            <td> <input type="checkbox"> </td>
          </tr>
          
        </table>